@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
  }

  .animate-float {
    animation: float 7s ease-in-out infinite;
  }
}
